
.container {
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  
  
}

.area-jogo {
  
  display: grid;
  width: 305px;
  height: 305px;
  grid-template-columns: auto auto auto;
  float: left;

}

.block {
  width: 80px;
  height: 80px;
  padding: 10px;
  display:flex;
  align-content:center;
  justify-content:center;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid red;
  

  
}

.block:hover {

background-color: grey;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

.xpto {
  margin:auto;
}
